/local/
/devel/
/.cpanm/
/.plx/
/blossom/
/cover_db/
cpanfile
*.tar.gz

/dist/Net-Blossom/Makefile
/dist/Net-Blossom/MYMETA.json
/dist/Net-Blossom/MYMETA.yml
/dist/Net-Blossom/blib/
/dist/Net-Blossom/cover_db/
/dist/Net-Blossom/pm_to_blib

/dist/Net-Blossom-Server/Makefile
/dist/Net-Blossom-Server/MYMETA.json
/dist/Net-Blossom-Server/MYMETA.yml
/dist/Net-Blossom-Server/blib/
/dist/Net-Blossom-Server/cover_db/
/dist/Net-Blossom-Server/pm_to_blib

/dist/Net-Blossom-Server-Backend-SQLite/Makefile
/dist/Net-Blossom-Server-Backend-SQLite/MYMETA.json
/dist/Net-Blossom-Server-Backend-SQLite/MYMETA.yml
/dist/Net-Blossom-Server-Backend-SQLite/blib/
/dist/Net-Blossom-Server-Backend-SQLite/cover_db/
/dist/Net-Blossom-Server-Backend-SQLite/pm_to_blib
