/local/
/devel/
/.cpanm/
/.plx/
/blossom/
/cover_db/
/.agent-state/
cpanfile
*.tar.gz
*.bak
Makefile.old

/dist/Net-Blossom/Makefile
/dist/Net-Blossom/MYMETA.json
/dist/Net-Blossom/MYMETA.yml
/dist/Net-Blossom/blib/
/dist/Net-Blossom/cover_db/
/dist/Net-Blossom/pm_to_blib

/dist/Net-Blossom-Server/Makefile
/dist/Net-Blossom-Server/MYMETA.json
/dist/Net-Blossom-Server/MYMETA.yml
/dist/Net-Blossom-Server/blib/
/dist/Net-Blossom-Server/cover_db/
/dist/Net-Blossom-Server/pm_to_blib

/dist/Net-Blossom-Server-Backend-SQLite/Makefile
/dist/Net-Blossom-Server-Backend-SQLite/MYMETA.json
/dist/Net-Blossom-Server-Backend-SQLite/MYMETA.yml
/dist/Net-Blossom-Server-Backend-SQLite/blib/
/dist/Net-Blossom-Server-Backend-SQLite/cover_db/
/dist/Net-Blossom-Server-Backend-SQLite/pm_to_blib

/dist/Net-Blossom-Server-Backend-Postgres/Makefile
/dist/Net-Blossom-Server-Backend-Postgres/MYMETA.json
/dist/Net-Blossom-Server-Backend-Postgres/MYMETA.yml
/dist/Net-Blossom-Server-Backend-Postgres/blib/
/dist/Net-Blossom-Server-Backend-Postgres/cover_db/
/dist/Net-Blossom-Server-Backend-Postgres/pm_to_blib

/dist/Net-Blossom-Server-Backend-S3/Makefile
/dist/Net-Blossom-Server-Backend-S3/MYMETA.json
/dist/Net-Blossom-Server-Backend-S3/MYMETA.yml
/dist/Net-Blossom-Server-Backend-S3/blib/
/dist/Net-Blossom-Server-Backend-S3/cover_db/
/dist/Net-Blossom-Server-Backend-S3/pm_to_blib
/dist/Net-Blossom-Server-Backend-S3/Net-Blossom-Server-Backend-S3-*/

/dist/Net-Blossom-Server-Backend-Filesystem/Makefile
/dist/Net-Blossom-Server-Backend-Filesystem/MYMETA.json
/dist/Net-Blossom-Server-Backend-Filesystem/MYMETA.yml
/dist/Net-Blossom-Server-Backend-Filesystem/blib/
/dist/Net-Blossom-Server-Backend-Filesystem/cover_db/
/dist/Net-Blossom-Server-Backend-Filesystem/pm_to_blib
/dist/Net-Blossom-Server-Backend-Filesystem/Net-Blossom-Server-Backend-Filesystem-*/
